//Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Global

$primary: rgba(78, 185, 19, 1);
$secondary: rgba(10, 28, 0, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$primary-gradient: linear-gradient(90deg,#ff004e,#252dd8);
$secondary-gradient: linear-gradient(to right, rgba(78, 185, 19, 1) , rgba(21, 230, 255, 1));

html {
    scroll-behavior: smooth;
}

#iframe-inscricao { 
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0px 14px 8px rgba(0, 0, 0, 0.03);
    padding: 40px; 
    border-radius: 24px; 
    width: 100%;
    min-height: 820px;
    display: block;
    overflow: visible !important;
}

body {
    background-color: $black;
    color: $white;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

a {
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}

//Type


.up {
    text-transform: uppercase;
}

.thin {
    font-weight: 300;
}

.xheading {
    font-size: 3rem;
    line-height: 4rem;
}

.heading {
    font-size: 2rem;
    line-height: 3rem;
}

.display {
    font-size: 1.5rem;
    line-height: 2rem;
}

.body, p {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.microcopy {
    font-size: 0.875;
    line-height: 1.125rem;
}

//Actions

.btn {
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: 16px 32px;
    font-weight: 600;
    border-radius: 0;

    &:active, &:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .25); 
    }

    &.neutral-btn {
        color: $black;
        background-color: $white;

        &:hover {
            background-color: $primary;
            color: $white;
        }
    }

    &.primary-btn {
        color: $white;
        background-color: $primary;

        &:hover {
         background: rgba(78, 185, 19, .8);
        }
    }
}

.main-link {
    color: $white;
    font-size: 1.5rem;
    &:hover {
        color: rgba(255, 255, 255, .8)
    }
}

.neutral-link {
    color: $white;
    &:hover {
        opacity: .4;
        text-decoration: none;
    }
}

.keynote-link {
    color: $white;
    text-decoration: underline;
    &:hover {
        color: $primary;
    }
}

.frame-link {
    color: $primary;
    &:hover {
        color: $secondary;
    }
}


//Structure

header {
    transition: .3s ease-in-out all;
    background-color: $black;
    padding: 0 8%;
    width: 100%;
    z-index: 9;
    line-height: 56px;

    & .main-nav {
        text-align: right;

        & .neutral-link {
            text-transform: uppercase;
            font-size: 1.125rem;
            margin-right: 16px;
            padding: 12px 8px;
            color: $white;
            border-bottom: 4px solid transparent;
        }

        & .current {
            color: $white;
            border-bottom: 4px solid $white;
        }
    }

    &.scrolled {
        top: 0;
        position: fixed;
        background-color: $primary;
        box-shadow: 0px 14px 8px rgba(0, 0, 0, 0.03);
    }
}

.logo {
    text-transform: uppercase;
    color: $white;
    font-weight: 400;
    font-stretch: 100%;
    font-size: 1.25rem;
    word-spacing: 4px;
    vertical-align: middle;
    line-height: 40px;

    &:hover {
        color: rgba(255, 255, 255, .8);
        text-decoration: none;
    }

    & img {
        height: 40px;
        position: relative;
        top: -2px;
    }
}

.main-hero { 
    min-height: 100vh;
    position: relative;
    
    
    & .action-holder {
        padding: 24px 0;

        & .btn {
            width: 100%;
           max-width: 300px;
        }
    }

    & .row {
        min-height: 100vh;
    }

    &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: url(../img/bg01.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}

.main-section p {
    margin: 24px 0;
}

.event-info {

    & .event-more-info span {
        display: block;
    }

    & .event-more-info .display {
        margin-top: 24px;
    }

    & img {
        width: 80%;
        margin: 0 auto 40px;
    }
}

.event-theme {
    position: relative;
    background-color: rgba(0,0,0,.5);
    padding: 120px 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: url(../img/bg01.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }

        & .xheading {
            margin-bottom: 32px;
        }

        & .themes-holder {
            display: flex;
            flex-flow: row wrap;

            & .topic {
                width: 200px;
                max-width: 33%;
                padding: 32px 0;
            }
        }
}

.section-notes {
    padding: 64px 0;

      & .row {
          margin: 40px 0 0;
      }

        & .keynote {
            width: 100%;
            

            & .avatar {
                position: relative;
                width: 300px;
                height: 300px;
                display: flex;
                overflow: hidden;
                align-items: center;
                justify-content: center;
                margin-bottom: 24px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: $secondary-gradient;
                    opacity: .5;
                    }

                & img {
                    width: 100%;
                }
            }

            & h4 {
                font-size: 32px;
            }
        }
           
        }
    
.lecture {
    position: relative;
    padding: 120px 0;
    background: linear-gradient(90deg, rgba(255, 0, 78, .6), rgba(37, 45, 216, .6));
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: url(../img/bg02.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }

        & img {
            width: 80%;
        }

        & h3, & h4 {
            margin-bottom: 32px;
        }

        & .action-holder {
            padding: 24px 0;
        }
}

.tickets {
    padding: 120px 0;
    min-height: 100vh;
    position: relative;
    background: #FFF url(../img/bg03.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.investment {
    padding: 140px 0;
    background: $secondary-gradient;

    & .heading {
        margin-bottom: 32px;
    }
}

footer {
    padding: 56px 0;
    font-size: 2rem;

    & .main-link {
        word-wrap: break-word;
        font-size: 1.5rem;
    }

    & .brand-holder {
        text-align: left;
        padding: 64px 0;
        text-align: left;

        & img {
            margin: 16px 0;
            width: 90%;
        }

        & img:first-child {
            width: 70%;
        }
    }
}